<% if message.body.present? %>
  <p class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
    <%= message.body %>
  </p>
<% end %>

<% message.attachments.each do |file| %>
  <% if %w(image/jpeg image/jpg image/png).include?(file.attachment.content_type) %>
    <%= image_tag(url_for(file.attachment), width: '300px', class: user.id == message.user_id ? 'message-sent' : 'message-received', style: "margin-bottom: 10px") %>
  <% else %>
    <%= link_to file.attachment.blob.filename, url_for(file.attachment), class: user.id == message.user_id ? 'message-sent' : 'message-received', style: "padding: 10px; margin-bottom: 10px" %>
  <% end %>
<% end %>
