/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_emoji_picker
 *= require_self
 *= require bootstrap
 */


ul {
  padding-left: 0px;
  list-style: none;
}
.messages-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 14px auto;
  display: flex;
  flex-direction: column;
}
p {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5px 10px;
  max-width: 70%;
  width: max-content;
  display: flex;
}
.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  border-bottom-right-radius: 10px;
  /* border-bottom-left-radius: 10px;
  background-color: #2825ff;
  border-color: #2825ff;
  color: #fff; */
}

.message-sent {
  border-bottom-left-radius: 10px;
  background-color: #2825ff;
  border-color: #2825ff;
  color: #fff;
  align-self: flex-end;
}
.message {
  resize: none;
  width: 100%;
  margin-bottom: 20px;
}
